@model IEnumerable<ECommerce.Web.DTOs.ProductCommentWithUserAndProducDto>

@{
    ViewData["Title"] = "ProductCommentList";
}

<h1>ProductCommentList</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                UserName
            </th>
            <th>
                Moderator UserName
            </th>
            <th>
                Product
            </th>
            <th>
                IsApproved
            </th>
            <th>
                CommentText
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeratorUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentText)
            </td>
            <td>
                @Html.ActionLink("Approve", "ApproveProductComment", new { id=item.Id }) |
                @Html.ActionLink("Edit", "UpdateProductComment", new { id = item.Id }) |
                @Html.ActionLink("Details", "ProductCommentDetail", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteProductComment", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
